
/* These are the styles for the whole document. (Using an asterick */

.main-title {
    background: rgb(170, 228, 255);
    padding: 10px 35px;
    margin: 0;
}

.fancy-font, .navbar {
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 75, 82);
}

.navbar ul {
    padding-left: 0;
}

.navbar li {
    color: #6A929E;
    list-style: none;
}

.main-image {
    width: 500px;
}

.main-image img {
    width: 100%;
}

.cat-image {
    background-image: url(../images/cat-paw-on-laptop.jpeg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}